*{
    margin:0;
    padding:0;
}

#formulario{
    margin: 40px;
}

.centrar{
    display:flex;
    justify-content:center;
    align-items:center;
    margin: 5px;
}
.contenedorMostrar{
    background-color: rgba(0, 234, 255, 0.254);
    width:250px;
}

.mostrar{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin: auto;
}

.imgProducto{
    margin: 10px;
    width: 150px;
    height: 100px;
}


.contenedorMostrar button{
display: flex;
justify-content: center;
align-items: center;
margin: 10px;
}
