p{
    font-size: 20px;
}
.styleHerramienta{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin: 5px;   
    padding:10px;
    background-color:aliceblue;
    border: 2px black solid;
}

.styleComida{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin: 5px;   
    padding:10px;
    background-color:rgb(240, 255, 242);
    border: 2px black solid;
}

.styleRopa{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin: 5px;   
    padding:10px;
    background-color:rgb(252, 240, 255);
    border: 2px black solid;
}