body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  box-sizing: border-box;
}

.card {
  background: #191c29;
  width: 80vw;
  height: 80vh;
  padding: 3px;
  border-radius: 6px;
  text-align: center;
  display: flex;
  flex-direction: row;
  border: 2px purple solid;
}

span{
  color: rgba(9, 180, 137, 0.959);
}

p{
  color: rgba(197, 197, 197, 0.822);
}

.dBlue{
  padding: 10px;
  border: 2px white solid;
  display: flex;
  flex-direction: row;
}

